.burger{
    margin-top: -25px;
    background: none;
    border: none;
    display: none;

    @media (max-width: 1100px){
       display: block;
       float: right;
       &.show {
        display: block;
    }
    }
}
.burger__icon {
    display: block;
    width: 30px;
    height: auto;
}