.end__title{
    color: $dark-gray;
    margin: 10px 0;
    font-size: 1.1rem;
}
.end__text{
    color: $black;
    font-size: .9rem;
}
.input{
    margin-top: 10px;
}
.textarea{
    margin-top: 5px;
}