.nav {
    text-align: right;
    flex-wrap: wrap;
    @media (max-width: 1100px) {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        background-color: unset;
        text-align: center;
        padding: 1rem;
        &.show{
            display: flex;
        }
    }
}
.nav__link {
    text-decoration: none;
    margin-right: 35px;
    font-weight: 700;
    color: $white;

    transition:.10s linear;
    @media (max-width: 950px){
        width: 100%;
        margin-left: 0;
        color: $white;
        padding: .5rem 1rem;
    }
    &:hover{
        border: 3px solid $white;
        border-radius: 20px;
        background-color: $white;
        color: $black;
    }
}