<div class="footer">
    <div class="container">

        <div class="footer__inner">
            <div class="row__social">
                <a href="#">
                <svg class="social__icon  social__icon--twitter">
                        <use xlink:href="#twitter"></use>
                </svg> 
            </a>
                <svg class="social__icon  social__icon--twitter">
                        <use xlink:href="#twitter"></use>
                    </svg>
                <svg class="social__icon  social__icon--twitter">
                        <use xlink:href="#twitter"></use>
                </svg> 
                <svg class="social__icon  social__icon--twitter">
                        <use xlink:href="#twitter"></use>
                </svg> 
            </div>
    
            <div class="footer__line"></div>
            <div class="footer__title">© 2015 Startup, Designed by ShapedTheme</div>
          </div>
    </div>
</div>