$white: #fff;
$red: #c0301c;
$black: #121212;
$gray: #c3c3c3;
$light-gray: #f8f8f8;
$dark-gray: #555555;
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25px rgba(0,0,0,.05);

$tv: (max-width:1799px); 
$xl: (max-width:1199px); 
$lg: (max-width:991px);
$md: (max-width:767px);
$sm: (max-width:575px);




